#intro {
  .slogan {
    background-color: orange;
    color: white;
  }
  .author, .project {
    text-align: left;
  }
  .project__name {
    color: orange;
  }
  .job-title {
    color: rebeccapurple;
  }
}
