#intro {
  .main-title {
    background-color: $orange;
    color: white;
    margin-bottom: 0;
  }
  .slogan {
    background-color: orange;
    color: white;
    font-size: 2rem;
    word-spacing: 0.5rem;
    .for {
      color: black;
      &--assistant, &--bot {
        color: $yellow;
      }
    }
  }
  .author {
    font-size: 2rem;
    text-align: left;
  }
  .project {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10%;
    padding: 16px;
    text-align: center;
    width: auto;
  }
  .project__name {
    color: $orange;
  }
  .job-title {
    color: $purple;
  }
  .company-name {
    color: $red;
  }
}
