<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/reveal.css" />
    <link rel="stylesheet" href="css/theme/sky.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
		{{{ contents }}}
	</body>
</html>
